.image-border-animated {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
}

.border-line {
  position: absolute;
  width: 4px;
  background: linear-gradient(to bottom, rgb(196 149 117 / var(--tw-text-opacity, 1)) 100%, #aaa 100%);
  border-radius: 2px;
  transition: box-shadow 0.3s;
}

.border-line.left {
  left: 0;
  top: 0;
  height: 0%;
  animation: borderGrowTop 4s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.border-line.right {
  right: 0;
  bottom: 0;
  height: 0%;
  animation: borderGrowBottom 4s 0.3s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

@keyframes borderGrowTop {
  from { height: 0%; }
  to { height: 100%; }
}

@keyframes borderGrowBottom {
  from { height: 0%; }
  to { height: 100%; }
}
